<template>
  <v-container id="demobg" class="align-content-center pa-0" fluid>


    <v-parallax
            dark
            class="parallax-large"
            src="https://images.unsplash.com/photo-1524661135-423995f22d0b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83b70261d97d9ea9c649c1414c89a834"
    >

      <v-layout
              align-center
              column
              justify-center
      >
        <v-card>
          <v-card-title>
          </v-card-title>
          <v-card-text>
            <v-form grid-list-md v-model="validform">
              <h4 class="subheading">Trip Information</h4>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-autocomplete
                          outline
                          :rules="requiredFieldRules"
                          v-model="fromair"
                          :items="airports"
                          :label="'From: Airport*'"
                          prepend-icon="local_airport"
                          required
                  >
                  </v-autocomplete>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-autocomplete
                          outline
                          :rules="requiredFieldRules"
                          v-model="toair"
                          :items="airports"
                          :label="'To: Airport*'"
                          prepend-icon="local_airport"
                          required
                  >
                  </v-autocomplete>
                </v-flex>

                <!-- -->
                <v-flex xs12 sm6 md2>
                  <v-menu
                          :close-on-content-click="false"
                          v-model="menu"
                          :nudge-right="40"
                          lazy
                          transition="scale-transition"
                          offset-y
                          full-width
                          min-width="290px"
                  >
                    <v-text-field
                            outline
                            slot="activator"
                            v-model="depDate"
                            label="Departure: Date*"
                            prepend-icon="event"
                            :rules="requiredFieldRules"
                            required
                    ></v-text-field>
                    <v-date-picker v-model="depDate" @input="menu = false"></v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs12 sm6 md2>
                  <v-menu
                          :close-on-content-click="false"
                          v-model="menu2"
                          :nudge-right="40"
                          lazy
                          transition="scale-transition"
                          offset-y
                          full-width
                          min-width="290px"
                  >
                    <v-text-field
                            outline
                            slot="activator"
                            v-model="arvDate"
                            label="Arrival: Date*"
                            prepend-icon="event"
                            :rules="requiredFieldRules"
                            required
                    ></v-text-field>
                    <v-date-picker v-model="arvDate" @input="menu2 = false"></v-date-picker>
                  </v-menu>
                </v-flex>
                <!-- -->

              </v-layout>




              <h4 class="subheading">Plane Requirements</h4>
              <v-layout wrap>
                <!-- -->
                <v-flex xs12 sm6 md4>
                  <v-select
                          v-model="passengernumber"
                          class="pa-1"
                          outline
                          :items="['0-2', '3-5', '6-10', '11+']"
                          label="# Passengers*"
                          :rules="requiredFieldRules"
                          required
                  ></v-select>
                </v-flex>

                <v-flex xs12 sm6 md4>
                  <v-select
                          class="pa-1"
                          v-model="aircrafttype"
                          :rules="requiredFieldRules"
                          required
                          outline
                          :items="['Any','Single Engine - Prop', 'Dual Engine - Prop', 'Dual Engine - Turboprop', 'Rotorcraft']"
                          label="Type*"
                  ></v-select>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-autocomplete
                          v-model="aircraftfeatures"
                          :rules="requiredFieldRules"
                          required
                          class="pa-1"
                          outline
                          chips
                          deletable-chips
                          small-chips
                          :items="['Any', 'Glass Cockpit', 'Tail Dragger', 'Yoke', 'Joystick', 'High Wing', 'Low Wing', 'Pontoons', 'GPWS (Alarm)', 'IFR Instruments']"
                          label="Features*"
                          multiple
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
            </v-form>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn :disabled="!validform" class="white--text ml-auto" color="teal darken-1 right" @click="getSearch">
              <span v-if="showresults">Reset</span>
              <span v-else>Search</span>
            </v-btn>
          </v-card-actions>
        </v-card>

      </v-layout>
    </v-parallax>

    <v-container class="text-xs-center" v-if="showresults">
      <p class="text-xs-left">Search results for: <v-chip small>Locations: {{fromair}} to {{toair}}</v-chip> <v-chip small>Dates: {{depDate}} to {{arvDate}}</v-chip> <v-chip small>passengers: {{passengernumber}}</v-chip> <v-chip small v-if="aircrafttype">type: {{aircrafttype}}</v-chip> <v-chip small v-if="aircraftfeatures">type: {{aircraftfeatures}}</v-chip></p>

      <v-layout row wrap>
        <v-flex
                v-for="n in 11"
                :key="n"
                xs12 sm6 md4
        >
          <SearchResults :listingIndex="n-1"></SearchResults>
        </v-flex>
      </v-layout>

      <p>
        <br/>
        Thank you for your interest in the Yokebook booking demo.
        <br/>
        The demo is not fully available. We are working hard to put the finishing touches on. Please check back later for updates and a chance to try the platform our more in depth.
      </p>
      <v-btn flat @click="showresults = false">CLOSE</v-btn>
    </v-container>

    <v-layout row wrap class="text-xs-center grey darken-3 white--text">
      <v-container >
        <h1 class="headline">List Your Aircraft</h1>
        <h1 class="display-2">Make Extra Money</h1>
        <p>
          <br/>
          Do you own your own aircraft, but find that it spends most of the time collecting dusk in a hanger or tied down?
          Let your aircraft work for you! Listing your craft as a rental on Yokebook only takes about 10 minutes, and instantly
          gives you access to a large pool of pilots looking for rentals. Establish minimum daily prices, set blackout dates, and
          limit pilot ratings; you're in control. You can rest assured that you're protected with $1 million dollar in liability
          insurance and protection against theft and damage.
        </p>
        <v-btn color="info" large @click="paneldialog = !paneldialog">List Your Craft</v-btn>

      </v-container>
    </v-layout>

    <v-layout row wrap class="text-xs-center grey lighten-3">
      <v-container class="">
      </v-container>
    </v-layout>

    <v-layout row wrap class="text-xs-center white--text black">
      <v-flex>
        <p class="subheading font-weight-light pa-2">Yokebook is currently under development. Check back for updates.</p>
      </v-flex>
    </v-layout>

    <!-- Lesson Edit Modal -->
    <v-dialog v-model="paneldialog" persistent max-width="500px">
      <v-card class="text-xs-center">
        <v-card-title>
          <img src="@/assets/logo.png" height="30px" alt="Yokebook">
          <h1 class="headline pl-2">Thank you!</h1>
          <v-spacer></v-spacer>
          <v-btn icon @click.native="paneldialog = false"><v-icon>close</v-icon></v-btn>
        </v-card-title>
        <v-card-text>
          <v-layout wrap>
            Thank you for your interest in the Yokebook booking demo.
            The demo is not fully available. We are working hard to put the finishing touches on.
            Please check back later for updates and a chance to try the platform our more in depth.<br/>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- Lesson Edit Modal -->

  </v-container>
</template>

<script>
  import SearchResults from './SearchResults';
    export default {
        name: 'Home',
        data () {
            return {
                paneldialog: false,
                showresults: false,
                searchString: "",

                depDate: new Date().toISOString().substr(0, 10),
                arvDate: new Date().toISOString().substr(0, 10),
                menu: false,
                modal: false,
                menu2: false,

                aircraftfeatures: null,
                aircrafttype: null,
                passengernumber: null,
                fromair: null,
                toair: null,
                airports: [
                    "ATL", "BWI", "BOS", "CLT", "DFW", "DEN", "DCA", "DTW", "EWR", "FLL",
                    "HNL", "IAD", "IAH", "JFK", "LAX", "LAS", "LGA", "MIA", "MDW", "MCO",
                    "MSP", "ORD", "PDX", "PHX", "PHL", "SFO", "SEA", "SLC", "SAN", "TPA"
                ],

                validform: false,
                requiredFieldRules: [
                    v => v !== null || 'This field is required'
                ],
            }
        },
        created() {
        },
        methods: {
            openWindow(url){ window.open(url, "_parent"); },
            getSearch(){
                if(this.showresults){
                    location.reload();
                    return;
                }
                this.showresults = true;
            }
        },
        components: {
            SearchResults
        }
    }
</script>
<style scoped>
  .parallax-large{
    min-height: 75vh;
  }
  @media (max-width: 978px) {
    .parallax-large{
      min-height: 1000px;
    }
  }
</style>