<template>
  <v-container id="demobg" class="align-content-center pa-0" fluid>


    <v-parallax
            dark
            class="parallax-large"
            src="https://images.unsplash.com/photo-1536849626529-169c1f727e15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7cbd0ba785b1d1ebf8351b9beecac088&auto=format&fit=crop&w=1600"
    >
      <v-layout
              align-center
              column
              justify-center
      >
        <!-- <h1 class="display-3  mb-3">Teach <strong>Anything</strong> with Confidence</h1> -->
        <h1 class="display-3  mb-3">The <strong>Easiest</strong> Way to rent private <strong>Aircraft</strong></h1>
        <h2 class="text-xs-center shades--text">Yokebook is a full featured aircraft booking platform.<br/>
          Pairing up pilots looking to rent with aircraft owners.</h2>
        <br/>
        <v-btn color="info" large href="/booking/demo">Click Here to Try the Live Demo</v-btn>

      </v-layout>
    </v-parallax>

    <v-layout row wrap class="text-xs-center grey darken-3">
      <v-flex sm4>
        <v-card dark tile flat>
          <v-card-text>
            <v-icon x-large dark>flight</v-icon>
            <h2><br/>Pilots Want to Fly</h2>
            <p>Help pilots find rentals</p>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex sm4>
        <v-card dark tile flat>
          <v-card-text>
            <v-icon x-large dark>attach_money</v-icon>
            <h2><br/>Owners Want Money</h2>
            <p>Help owners rent their aircraft</p>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex sm4>
        <v-card dark tile flat>
          <v-card-text>
            <v-icon x-large dark>compare_arrows</v-icon>
            <h2><br/>Yokebook Can Help</h2>
            <p>Provide the connection they need</p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>

    <v-layout row wrap class="text-xs-center grey lighten-3">
      <v-container class="">
        <h1 class="container">About</h1>
        <p>
          Yokebook is a full featured software platform, designed to help create an aircraft rental market place.
          Many pilots do not have the means to own their own plane, and in many cases renting from a local school or airport is not feasible.
          On the other side of this coin, you have owners who have aircraft sitting in hangers, and they're interested in renting out their aircraft to offset cost of ownership.
          This is where Yokebook comes in. We provide the platform that enables the connection between these two groups. Matching up owners and renters.
        </p>
        <v-btn color="info" large href="/booking/demo">Click Here to Try the Live Demo</v-btn>
        <br/>
        <h2 class="container">Yokebook gives you everything you need to connect aircraft renters with aircraft owners.</h2>
      </v-container>
    </v-layout>

    <v-layout row wrap class="text-xs-center white--text black">
      <v-flex>
        <p class="subheading font-weight-light pa-2">Yokebook is currently under development. Check back for updates.</p>
      </v-flex>
    </v-layout>

  </v-container>
</template>

<script>
    export default {
        name: 'Home',
        data () {
            return {
            }
        },
        created() {
        },
        methods: {
            openWindow(url){ window.open(url, "_parent"); }
        },
        components: {
        }
    }
</script>
<style scoped>
  #demobgs {
    min-height: 100%;
    background-image: url("https://images.unsplash.com/photo-1527645746751-d4dc7aa53163?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=25064625f7a3304fa7b0bcaa1fb96ed2&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .shadowimgnb {
    border-radius: 5px;
    box-shadow: 0 -5px 30px 0 rgba(0,0,0,0.15);
  }
  .unstyled-list {
    list-style: none;
    padding: 0;
  }
  @media (max-width: 978px) {
    .parallax-large{
      min-height: 650px;
    }
  }
</style>