<template>
  <v-card class="ma-2">
    <v-img
            :src="listings[listingIndex].img"
            height="200px"
    >
    </v-img>

    <v-card-title primary-title>
      <div>
        <div class="headline">{{listings[listingIndex].heading}}</div>
        <span class="grey--text">{{listings[listingIndex].subheading}}</span>
      </div>
    </v-card-title>

    <v-card-actions>
      <v-btn flat color="purple">Book</v-btn>
      <v-btn flat>Learn More</v-btn>
      <v-spacer></v-spacer>
      <v-btn icon @click="show = !show">
        <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
      </v-btn>
    </v-card-actions>

    <v-slide-y-transition>
      <v-card-text v-show="show">
        This is where you would put detailed aircraft listing information. Add details about the aircraft; such as, year, type, fuel economy, seating capacity, engine type, ect... Also, add rental requirements; such as, pilot license requirements, usage type limitations, minimum charges, maximum rental period, and more.
      </v-card-text>
    </v-slide-y-transition>
  </v-card>
</template>

<script>
    export default {
        name: 'Home',
        props: {
            listingIndex: Number
        },
        data () {
            return {
                listings: [
                    {
                        img:'https://images.unsplash.com/photo-1507760762330-d3ed96fccf72?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b517467bfcd4a8cccb9e33e4c4634d54&auto=format&fit=crop&w=500&q=60',
                        heading: "PA-44-180",
                        subheading: "Piper Aircraft - Seminole"
                    },
                    {
                        img:'https://images.unsplash.com/photo-1504979489322-bfab450b252d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a359afa2feae5ef576b9e69d7d9e39cd&auto=format&fit=crop&w=1050&q=80',
                        heading: "172 Skyhawk",
                        subheading: "Cessna Aircraft - with Floats"
                    },
                    {
                        img:'https://images.unsplash.com/photo-1511049315096-4f3a74b92327?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b9a49426e0b01b8689d1bc7b7e8b21a3&auto=format&fit=crop&w=1050&q=80',
                        heading: "407 GXi",
                        subheading: "Bell Helicopters - Utility"
                    },
                    {
                        img:'https://images.unsplash.com/photo-1510267884935-ce4bf4c7f54d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1373fbcc9b7805a00a6e9d0c0ca80a4c&auto=format&fit=crop&w=1489&q=80',
                        heading: "R44",
                        subheading: "Robinson Helicopters"
                    },
                    {
                        img:'https://images.unsplash.com/photo-1518972695-f4e8997efb0d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=642f835d80a0565eeccb9310b7260e54&auto=format&fit=crop&w=1050&q=80',
                        heading: "DHC-3 Otter",
                        subheading: "de Havilland Canada"
                    },
                    {
                        img:'https://images.unsplash.com/photo-1455275851458-62f3421626cc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e59446a5ebafd7354c1eb28978ae736d&auto=format&fit=crop&w=500&q=60',
                        heading: "R22",
                        subheading: "Robinson Helicopters"
                    },
                    {
                        img:'https://images.unsplash.com/photo-1510267790222-d919ba2cbcbf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1a1f729a5b5e3bda6ebfd2e496210bd9&auto=format&fit=crop&w=1489&q=80',
                        heading: "R44",
                        subheading: "Robinson Helicopters"
                    },
                    {
                        img:'https://images.unsplash.com/photo-1534295468333-35b84eb18d80?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cac761a281b7065add43ae08af05d0aa&auto=format&fit=crop&w=500&q=60',
                        heading: "152 Skyhawk",
                        subheading: "Cessna Aircraft"
                    },
                    {
                        img:'https://images.unsplash.com/photo-1522474252234-127492dde7f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=85eae7a3e98b68f5e4fcab22f217f218&auto=format&fit=crop&w=500&q=60',
                        heading: "Denali",
                        subheading: "Cessna Aircraft"
                    },
                    {
                        img:'https://images.unsplash.com/photo-1530876031510-edddecc62a57?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=13bb174489f5c0e152745b6ea41b9cb8&auto=format&fit=crop&w=500&q=60',
                        heading: "172 Skyhawk",
                        subheading: "Cessna Aircraft"
                    },
                    {
                        img:'https://images.unsplash.com/photo-1541813709748-b6eb0147286b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bb446f64484d9d259b8920c61afe46df&auto=format&fit=crop&w=1050&q=80',
                        heading: "Pitts Special",
                        subheading: "Aviat Aircraft - Biplane"
                    },
                ],

                paneldialog: false,
                depDate: new Date().toISOString().substr(0, 10),
                arvDate: new Date().toISOString().substr(0, 10),
                menu: false,
                modal: false,
                menu2: false,

                show: false,

                fromair: null,
                toair: null,
                airports: [
                    "ATL", "LAX", "ORD", "DFW", "DEN", "JFK", "SFO", "LAS", "SEA", "CLT",
                    "EWR", "MCO", "PHX", "MIA", "IAH", "BOS", "MSP", "DTW", "FLL", "PHL",
                    "LGA", "BWI", "SLC", "DCA", "IAD", "SAN", "MDW", "TPA", "HNL", "PDX"
                ]
            }
        },
        created() {
        },
        methods: {
            openWindow(url){ window.open(url, "_parent"); }
        },
        components: {
        }
    }
</script>
<style scoped>
  #demobgs {
    min-height: 100%;
    background-image: url("https://images.unsplash.com/photo-1527645746751-d4dc7aa53163?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=25064625f7a3304fa7b0bcaa1fb96ed2&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .shadowimgnb {
    border-radius: 5px;
    box-shadow: 0 -5px 30px 0 rgba(0,0,0,0.15);
  }
  .unstyled-list {
    list-style: none;
    padding: 0;
  }
  .parallax-large{
    min-height: 75vh;
  }
  @media (max-width: 978px) {
    .parallax-large{
      min-height: 1000px;
    }
  }
</style>