<template>
  <v-app>
    <v-toolbar
            app
            dense
            color="white"
    >
      <v-toolbar-title class="headline text-uppercase">
        <a href="/">
          <img src="@/assets/logo.png" height="30px" alt="Yokebook">
        </a>
        <span> Yokebook</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <!-- <v-btn
        flat
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
      >
        <v-icon>open_in_new</v-icon>
      </v-btn> -->
    </v-toolbar>

    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data () {
    return {
      //
    }
  }
}
</script>
